<!DOCTYPE html>
<html>
    <head>
        <style>
            .form{
                background-color: #C09A7F;
                padding: 20px;
                width: 100%;
                max-width: 500px;
                margin: auto;
                padding-left: 2px;
                padding-right: 2px;
                border-radius: 5%;
                border: 1px solid #C09A7F;
            }

            input::placeholder{
                overflow: visible;
            }

        </style>

    </head>

    <body>
        Complete the transaction below by mpesa
        <br><br>

        <form method="post">
            {% csrf_token %}
            
            <input type="number" name="number" maxlength="10" placeholder="enter number of payment"/>
            <input type="submit" value="submit">
        </form>
        

    </body>
</html>