<!DOCTYPE html>
<head>
    <style>

        .congrats{
            width: 100%;
            height: auto;
        }
    </style>
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <!--<meta http-equiv="refresh" content="6; url=template.html" /> -->
</head>
<html>
    <body>
        <img src="pics/animated_image.gif" alt="success" class="congrats">
        
        <p>
            <h1 style="text-align: center;">CONGRATS SUCCESSFULLY UPDATED</h1>
        </p>
    </body>
</html>